<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>보드빌</title>
</head>
<body>
<div>
    <p class="lead">안녕하세요, <span th:text="${nickname}"></span>님</p>

    <h2 th:text="${message}">메시지</h2>

    <div>
        <a th:href="@{${host} + ${link}}" th:text="${linkName}">link name</a>
        <p>링크를 동작하지 않는다면 URL 복사해서 사용하는 웹 브라우저에 붙여넣으세요.</p>
        <small th:text="${host + link}"></small>
    </div>
</div>
<footer>
    <small class="d-block mb-3 text-muted">보드빌&copy; 2020</small>
</footer>
</body>
</html>
